.hoverTranslate:hover p {
  @apply translate-x-1;
}

.cols {
  @apply flex flex-row;
  @apply gap-x-8;
}

.cols > :nth-child(1) {
  flex: 3;
}

.cols > :nth-child(2) {
  flex: 1;
}

.cols > :nth-child(3) {
  flex: 1;
}

.cols > :nth-child(4) {
  /* flex: 1 0 100%; */
  /* width: 100%; */
}

@screen lg {
  .cols {
    @apply block;
  }
}
