.context {
  @apply absolute;
  @apply z-10;
  @apply max-w-3/4;
}

.position-br {
  @apply bottom-0 right-0;
  transform: translate(3%, 45%);
}
.position-bl {
  @apply bottom-0 left-0;
  transform: translate(-3%, 45%);
}
.position-tr {
  @apply top-0 right-0;
  transform: translate(10%, -20%);
}
.position-tl {
  @apply top-0 left-0;
  transform: translate(-10%, -20%);
}

@screen md {
  .position-br {
    @apply bottom-0 right-0;
    transform: translate(10%, 50%);
  }
  .position-bl {
    @apply bottom-0 left-0;
    transform: translate(-10%, 50%);
  }
  .position-tr {
    @apply top-0 right-0;
    transform: translate(10%, -30%);
  }
  .position-tl {
    @apply top-0 left-0;
    transform: translate(-10%, -30%);
  }
}
