.title {
  @apply tracking-wider;
  @apply text-md text-center;
  @apply uppercase;
  @apply inline;
  @apply relative;
  padding-bottom: 5px;
}

.title::after {
  content: "";
  @apply absolute bottom-0 left-0;
  height: 1px;
  width: 98%;
  background: linear-gradient(to left, #000, #000);
}

@screen sm {
  .title {
    @apply text-xl;
  }
}
