.cols {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cols > div:nth-child(1) {
  flex: 1;
}

.cols > div:nth-child(2) {
  flex: 2;
}

.announcement {
}

.mintFilter:after,
.yellowFilter:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.mintFilter:after {
  background: theme("colors.mint.DEFAULT");
}

.yellowFilter:after {
  background: theme("colors.yellow.DEFAULT");
}

.yellowFilter img {
  filter: saturate(0%) sepia(100%) url("#yellow-multiply");
  @apply opacity-60;
}

.mintFilter img {
  filter: saturate(0%) url("#mint-multiply");
  @apply opacity-60;
}

.announcement-appear-active {
  @apply opacity-100;
}

.announcement-appear-done {
  @apply opacity-100;
}

.announcement-enter-active {
  @apply opacity-100;
}

.announcement-enter-done {
  @apply opacity-100;
}

.announcement-exit-active {
  @apply opacity-0;
}

.announcement-exit-done {
  @apply opacity-0;
}

.arrow svg {
  fill: theme("colors.mint.DEFAULT");
}

.arrow:after {
  position: absolute;
  top: 2px;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

.arrowLeft:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='26' fill='none' viewBox='0 0 40 26'%3E%3Cpath fill='%231F1F1F' d='M18.625 0c-2.305 4.74-4.461 8.296-6.469 10.667H40v4.666H12.156c2.008 2.37 4.164 5.926 6.469 10.667H14.72C10.037 20.593 5.131 16.593 0 14v-2C5.13 9.481 10.037 5.481 14.721 0h3.904z'/%3E%3C/svg%3E%0A");
  background-size: 100%;
  left: 2px;
}
.arrowRight:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 41 28'%3E%3Cpath fill='%231F1F1F' d='M21.463 27.049c2.305-4.759 4.461-8.328 6.469-10.707H.088v-4.684h27.844C25.924 9.28 23.768 5.71 21.464.952h3.903c4.684 5.428 9.59 9.442 14.721 12.045v2.007c-5.13 2.528-10.037 6.543-14.721 12.045h-3.904z'/%3E%3C/svg%3E%0A");
  background-size: 100%;
  right: 2px;
}
