.headerCols > div:nth-child(1) > div {
  border-top: 1px theme("colors.black") solid;
}

@screen sm {
  .headerCols {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .headerCols > div:nth-child(1) {
    flex: 3;
  }

  .headerCols > div:nth-child(2) {
    flex: 2;
  }
}

@screen md {
  .headerCols {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .headerCols > div:nth-child(1) {
    flex: 5;
  }

  .headerCols > div:nth-child(2) {
    flex: 3;
  }
}

.paragraphPhrasing p s {
  height: 12px;
  text-decoration: underline;
  font-style: normal;
  position: relative;
}
